We're building www.nuvyacorporation.com website.

keep it simple tech stack. just use vanilla js, html and css

keep website mordern and mobile friendly

dont use any databases etc. everything should be static